# Ignore build and output directories
/.next
/out

# Ignore node_modules directory
/node_modules

# Ignore coverage reports
/coverage

# Ignore static files
/public

# Ignore cache and temporary files
/.cache
/.vscode
/.idea
/.DS_Store
